<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="alma.control.datamodel.meta.base.BasePackage"
            genModel="config/model/genHwDevicev2Gen.genmodel"
            uri="http://alma/Control/datamodel/meta/base/1.0">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="alma.control.datamodel.meta.eth.EthPackage"
            genModel="config/model/genHwDevicev2Gen.genmodel"
            uri="http://alma/Control/datamodel/meta/eth/1.0">
      </package>
   </extension>



   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="alma.control.datamodel.meta.amb.AmbPackage"
            genModel="config/model/genHwDevicev2Gen.genmodel"
            uri="http://alma/Control/datamodel/meta/amb/1.0">
      </package>
   </extension>

</plugin>
